[submodule "lib/parsers"]
	path = lib/parsers
	url = https://github.com/analyzeDFIR/libadfir-parser.git
[submodule "structures"]
	path = structures
	url = https://github.com/analyzeDFIR/AnalyzeEVTX-structures.git
